<form [formGroup]=forma (ngSubmit)="guardar()">
    <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" autofocus class="form-control" 
               formControlName="nombre" 
               [ngClass]="{'is-invalid': !forma.controls.nombre.valid && forma.controls.nombre.touched}">

        <div *ngIf="forma.controls.nombre.errors?.required && forma.controls.nombre.touched">
            El nombre es necesario
        </div>
        <div *ngIf="forma.controls.nombre.errors?.minlength && forma.controls.nombre.touched">
            El nombre debe tener mas de 3 letras.
        </div>
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" 
               formControlName="email" 
               [ngClass]="{'is-invalid': !forma.controls.email.valid && forma.controls.email.touched}">
    </div>

    <div class="form-group">
        <label for="">Mensaje</label>
        <textarea class="form-control" rows="7" 
                  formControlName="mensaje"
                  [ngClass]="{'is-invalid': !forma.controls.mensaje.valid && forma.controls.mensaje.touched}">
        </textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block">Enviar</button>
    </div>
    {{forma.valid}}
</form>
