<!-- Footer -->
<footer class="page-footer font-small indigo pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Redes Sociales</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fab fa-twitter icono"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fab fa-instagram"></i></a>
          </li>        
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Navegación</h5>

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="[ 'inicio' ]">Inicio</a>
          </li>
          <li>
            <a [routerLink]="[ 'nosotros' ]">Nosotros</a>
          </li>
          <li>
            <a [routerLink]="[ 'proyectos' ]">Proyectos</a>
          </li>
          <li>
            <a [routerLink]="[ 'contacto' ]">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="">JeyGy</a>
  </div>
</footer>